.product-name {
    height: 55px;
    text-align: start;
    font-family: 'Varela Round', sans-serif;
    height: 20px;
  }
  .product-price {
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    text-align: start;
    margin-top: 0;
    

  }
  .btn-add {
    color: black;
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
    max-width: 300px;
    
  }
  .btn-add:hover {
    background-color: #7ad03a;
    color: white;
  }
  .around{
    max-width: 450px;
    height:600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px white dotted;
    position: relative;

  }
  .card-div{
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ece6ff;
  }

  .sale-div{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sale-div h5{
    color: #fff;
    font-family: 'Varela Round', sans-serif;
  }

  

