.navbar{
    height: 15vh;
    background-color: rgb(238, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    display: flex;
    width: 20%;
    justify-content: space-around;
}
.logo{
    width: auto;
    height: 15vh;
}
.active{
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(255, 178, 83);
    height: 15vh;
    color: #000000;
  }
  
  .classic {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #000000;
  }