.navbar{
    height: 15vh;
    background-color: #609966;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    display: flex;
    width: 20%;
    justify-content: space-around;
}
.logo{
    margin: 0;
    padding: 0;
    width: auto;
    width: 400px;
    color: #fff;
}
.active{
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  }
  
  .classic {
    display: flex;
    align-items: center;
    padding: 10px;
    color: black;
  font-weight: normal;
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;  }
  .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15vh 15vh 0 0;
    border-color: transparent transparent black transparent;
    position: absolute;
    left: 0;
    top: 0;
 }