.footer{
    height: 10vh;
    background-color: #609966;
    display: flex;
    align-items: center;
    justify-content: center;
}
small{
    color: #fff;
    font-family: 'Varela Round', sans-serif;

}